* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 40px;
  height: 5px;
  background: rgba(76, 29, 149, 1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(76, 29, 149, 1);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before, .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: rgba(76, 29, 149, 1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(76, 29, 149, 1);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-14px);
}

.menu-btn__burger::after {
  transform: translateY(14px);
}

/* ANIMATION */

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger:before {
  transform: rotate(45deg) translate(35px, -35px)
}

.menu-btn.open .menu-btn__burger:after {
  transform: rotate(-45deg) translate(35px, 35px)
}

@keyframes rabitt-up-down {
  /* назовём анимацию: "go-left-right" */
  from {
    top: 88px;
    /* от: left: 0px */
  }
  20% {
    top: 18px;
  }
  50% {
    top: 18px;
  }
  to {
    top: 88px;
    /* до: left: 100%-50px */
  }
}